<!DOCTYPE html>
<html>
<head>
  <title>EventLite: Internal server error</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
</head>

<body>
  <div class="container">
    <h1>500: Server Error</h1>
    <h2>Whoops, something went wrong, please try again shortly.</h2>
    <p>Alternatively, you can go <a href="/">back to homepage</a></p>
  </div>
</body>

</html>
