<!DOCTYPE html>
<html>
<head>
  <title>EventLite: Error</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
</head>

<body>
  <div class="container">
    <h1>Something went wrong.</h1>
    <h2>We're not sure why.</h2>
    <p><a href="/">Back to homepage</a></p>
  </div>
</body>

</html>
